@charset "UTF-8";
/*
em HTML é id      = em CSS é # (só pode um elemento)
em HTML é class   = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(191, 214, 168);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(63, 119, 8);
}

h1#principal {
    text-align: center;
    background-color: rgb(53, 102, 5);
    color: white;
}
h2 {
    color: rgba(50, 78, 21, 0.692);
}

.basico {
    color: rgb(112, 167, 4);
}

.intermediario {
    color: yellow;
}

.avançado {
    color: rgb(168, 58, 58);
}

.destaque {
    background-color: rgba(168, 168, 115, 0.651);
}