@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #51F679, #93EB59);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2341229f;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #B0D446;
    text-align: center;
    text-shadow: 1px 1px 2px #3c4718c7;
}

h2 {
    color: #616013f6;
}

p {
    text-align: justify;
}